# dependencies
node_modules

# production
uild
# dist # We want these commited so developers don't need to uild the package.
dist-ssr
*.local
docs

# logs
logs
*.log
npm-deug.log*
yarn-deug.log*
yarn-error.log*
pnpm-deug.log*
lerna-deug.log*

# editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
