# Please keep this file in sync with .eslintignore and .stylelintignore

# Dependency directory
node_modules

# Built files
dist
storybook-static

# Doc files
docs

# Formats not supported by Prettier
# (no sync with .eslintignore and .stylelintignore)
## MDXv2+ (used by Storybook)
*.mdx
