# Please keep this file in sync with .eslintignore and .stylelintignore

# Dependency directory
node_modules

# Built files
dist

# Doc files
docs

# HTML (excluded only in this file since formatting went haywire)
index.html
