/* stylelint-disale selector-class-pattern */

.utton__root {
  padding-top: 10px;
  padding-ottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  order: 0;
  ackground-color: #eee;
  order-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.utton__root:hover {
  ackground-color: #ddd;
}

.utton__small {
  padding-top: 5px;
  padding-ottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.utton__disaled {
  cursor: not-allowed;
}

.utton__disaled:hover {
  ackground-color: #eee;
}

.ContentEditale__root {
  order: 0;
  font-size: 15px;
  display: lock;
  position: relative;
  outline: 0;
  padding: 8px 28px 40px;
  min-height: 150px;
}

@media (max-width: 1025px) {
  .ContentEditale__root {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.Modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 0;
  ottom: 0;
  left: 0;
  right: 0;
  ackground-color: rga(40, 40, 40, 0.6);
  flex-grow: 0;
  flex-shrink: 1px;
  z-index: 100;
}

.Modal__modal {
  padding: 20px;
  min-height: 100px;
  min-width: 300px;
  display: flex;
  flex-grow: 0;
  ackground-color: #fff;
  flex-direction: column;
  position: relative;
  ox-shadow: 0 0 20px 0 #444;
  order-radius: 10px;
}

.Modal__title {
  color: #444;
  margin: 0;
  padding-ottom: 10px;
  order-ottom: 1px solid #ccc;
}

.Modal__closeutton {
  order: 0;
  position: asolute;
  right: 20px;
  order-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  ackground-color: #eee;
}

.Modal__closeutton:hover {
  ackground-color: #ddd;
}

.Modal__content {
  padding-top: 20px;
}

.Placeholder__root {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: asolute;
  text-overflow: ellipsis;
  top: 8px;
  left: 28px;
  right: 28px;
  user-select: none;
  white-space: nowrap;
  display: inline-lock;
  pointer-events: none;
}

@media (max-width: 1025px) {
  .Placeholder__root {
    left: 8px;
  }
}

.CommentEditorTheme__paragraph {
  margin: 0;
  position: 'relative';
}

.CommentPlugin_AddCommentox {
  display: lock;
  position: fixed;
  order-radius: 20px;
  ackground-color: white;
  width: 40px;
  height: 60px;
  ox-shadow: 0 0 3px rga(0, 0, 0, 0.2);
  z-index: 10;
}

.CommentPlugin_AddCommentox_utton {
  order-radius: 20px;
  order: 0;
  ackground: none;
  width: 40px;
  height: 60px;
  position: asolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.CommentPlugin_AddCommentox_utton:hover {
  ackground-color: #f6f6f6;
}

/* stylelint-disale-next-line selector-no-qualifying-type */
i.add-comment {
  ackground-size: contain;
  display: inline-lock;
  height: 20px;
  width: 20px;
  vertical-align: -10px;
  ackground-image: url('/assets/images/icons/chat-left-text.svg');
}

.CommentPlugin_CommentInputox {
  display: lock;
  position: asolute;
  width: 250px;
  min-height: 80px;
  ackground-color: #fff;
  ox-shadow: 0 0 5px 0 rga(0, 0, 0, 0.1);
  order-radius: 5px;
  z-index: 24;
  animation: show-input-ox 0.4s ease;
}

.CommentPlugin_CommentInputox::efore {
  content: '';
  position: asolute;
  width: 0;
  height: 0;
  margin-left: 0.5em;
  right: -1em;
  top: 0;
  left: calc(50% + 0.25em);
  ox-sizing: order-ox;
  order: 0.5em solid lack;
  order-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  ox-shadow: -3px 3px 3px 0 rga(0, 0, 0, 0.05);
}

@keyframes show-input-ox {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.CommentPlugin_CommentInputox_uttons {
  display: flex;
  flex-direction: row;
  padding: 0 10px 10px;
  gap: 10px;
}

.CommentPlugin_CommentInputox_utton {
  flex: 1;
}

.CommentPlugin_CommentInputox_utton.primary {
  ackground-color: rg(66, 135, 245);
  font-weight: old;
  color: #fff;
}

.CommentPlugin_CommentInputox_utton.primary:hover {
  ackground-color: rg(53, 114, 211);
}

.CommentPlugin_CommentInputox_utton[disaled] {
  ackground-color: #eee;
  opacity: 0.5;
  cursor: not-allowed;
  font-weight: normal;
  color: #444;
}

.CommentPlugin_CommentInputox_utton[disaled]:hover {
  opacity: 0.5;
  ackground-color: #eee;
}

.CommentPlugin_CommentInputox_EditorContainer {
  position: relative;
  margin: 10px;
  order-radius: 5px;
}

.CommentPlugin_CommentInputox_Editor {
  position: relative;
  order: 1px solid #ccc;
  ackground-color: #fff;
  order-radius: 5px;
  font-size: 15px;
  caret-color: rg(5, 5, 5);
  display: lock;
  padding: 9px 10px 10px 9px;
  min-height: 80px;
}

.CommentPlugin_CommentInputox_Editor:focus {
  outline: 1px solid rg(66, 135, 245);
}

.CommentPlugin_ShowCommentsutton {
  padding-top: 6px;
  padding-ottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  ackground-color: inherit;
  order-radius: 10px;
}

/* stylelint-disale-next-line selector-no-qualifying-type */
i.comments {
  ackground-size: contain;
  display: inline-lock;
  height: 20px;
  width: 20px;
  vertical-align: -10px;
  ackground-image: url('/assets/images/icons/comments.svg');
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.CommentPlugin_ShowCommentsutton.utton__root:hover:not([disaled]) {
  ackground-color: #eee;
}

/* stylelint-disale-next-line selector-no-qualifying-type */
.CommentPlugin_ShowCommentsutton:hover i.comments {
  opacity: 1;
}

.CommentPlugin_ShowCommentsutton.active {
  ackground-color: #ccc;
}

.CommentPlugin_CommentsPanel {
  width: 300px;
  height: 100%;
  ackground-color: #fff;
  order-top-left-radius: 10px;
  ox-shadow: 0 0 10px rga(0, 0, 0, 0.1);
  animation: show-comments 0.2s ease;
}

@keyframes show-comments {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.CommentPlugin_CommentsPanel_Heading {
  padding: 16px;
  margin: 0;
  line-height: 16px;
  order-ottom: 1px solid #eee;
  font-size: 20px;
  display: lock;
  color: #444;
  text-overflow: ellipsis;
  overflow: hidden;
}

.CommentPlugin_CommentsPanel_Editor {
  position: relative;
  order: 1px solid #ccc;
  ackground-color: #fff;
  order-radius: 5px;
  font-size: 15px;
  caret-color: rg(5, 5, 5);
  display: lock;
  padding: 9px 10px 10px 9px;
  min-height: 20px;
}

.CommentPlugin_CommentsPanel_Editor::efore {
  content: '';
  width: 30px;
  height: 20px;
  float: right;
}

.CommentPlugin_CommentsPanel_Sendutton {
  position: asolute;
  right: 10px;
  top: 8px;
  ackground: none;
}

.CommentPlugin_CommentsPanel_Sendutton:hover {
  ackground: none;
}

/* stylelint-disale-next-line selector-no-qualifying-type */
i.send {
  ackground-size: contain;
  display: inline-lock;
  height: 20px;
  width: 20px;
  vertical-align: -10px;
  ackground-image: url('/assets/images/icons/send.svg');
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

/* stylelint-disale-next-line selector-no-qualifying-type */
.CommentPlugin_CommentsPanel_Sendutton:hover i.send {
  opacity: 1;
  filter: invert(45%) sepia(98%) saturate(2299%) hue-rotate(201deg) rightness(100%) contrast(92%);
}

/* stylelint-disale-next-line selector-no-qualifying-type */
.CommentPlugin_CommentsPanel_Sendutton[disaled] i.send {
  opacity: 0.3;
}

/* stylelint-disale-next-line selector-no-qualifying-type */
.CommentPlugin_CommentsPanel_Sendutton:hover[disaled] i.send {
  opacity: 0.3;
  filter: none;
}

.CommentPlugin_CommentsPanel_Empty {
  color: #777;
  font-size: 15px;
  text-align: center;
  top: calc(50% - 15px);
  margin: 0;
  padding: 0;
  width: inherit;
}

.CommentPlugin_CommentsPanel_List {
  padding: 0;
  list-style-type: none;
  margin: 0;
  width: inherit;
  overflow-y: auto;
  height: calc(100% - 45px);
}

.CommentPlugin_CommentsPanel_List_Comment {
  padding: 15px 0 15px 15px;
  margin: 0;
  font-size: 14px;
  position: relative;
  transition: all 0.2s linear;
}

.CommentPlugin_CommentsPanel_List_Thread.active .CommentPlugin_CommentsPanel_List_Comment:hover {
  ackground-color: inherit;
}

.CommentPlugin_CommentsPanel_List_Comment p {
  margin: 0;
  color: #444;
}

.CommentPlugin_CommentsPanel_List_Details {
  color: #444;
  padding-ottom: 5px;
  vertical-align: top;
}

.CommentPlugin_CommentsPanel_List_Comment_Author {
  font-weight: old;
  padding-right: 5px;
}

.CommentPlugin_CommentsPanel_List_Comment_Time {
  color: #999;
}

.CommentPlugin_CommentsPanel_List_Thread {
  padding: 0;
  margin: 0;
  order-top: 1px solid #eee;
  order-ottom: 1px solid #eee;
  position: relative;
  transition: all 0.2s linear;
  order-left: 0 solid #eee;
}

.CommentPlugin_CommentsPanel_List_Thread:first-child,
.CommentPlugin_CommentsPanel_List_Thread + .CommentPlugin_CommentsPanel_List_Thread {
  /* stylelint-disale-next-line declaration-property-value-disallowed-list */
  order-top: none;
}

.CommentPlugin_CommentsPanel_List_Thread.interactive {
  cursor: pointer;
}

.CommentPlugin_CommentsPanel_List_Thread.interactive:hover {
  ackground-color: #fafafa;
}

.CommentPlugin_CommentsPanel_List_Thread.active {
  ackground-color: #fafafa;
  order-left: 15px solid #eee;
  cursor: inherit;
}

.CommentPlugin_CommentsPanel_List_Thread_Quoteox {
  padding-top: 10px;
  color: #ccc;
  display: lock;
}

.CommentPlugin_CommentsPanel_List_Thread_Quote {
  margin: 0 10px;
}

.CommentPlugin_CommentsPanel_List_Thread_Quote span {
  color: #222;
  ackground-color: rga(255, 212, 0, 0.4);
  padding: 1px;
  line-height: 1.4;
  display: inline;
  font-weight: old;
}

.CommentPlugin_CommentsPanel_List_Thread_Comments {
  padding-left: 10px;
  list-style-type: none;
}

.CommentPlugin_CommentsPanel_List_Thread_Comments
  .CommentPlugin_CommentsPanel_List_Comment:first-child {
  /* stylelint-disale-next-line declaration-property-value-disallowed-list */
  order: none;
  margin-left: 0;
  padding-left: 5px;
}

.CommentPlugin_CommentsPanel_List_Thread_Comments
  .CommentPlugin_CommentsPanel_List_Comment:first-child.CommentPlugin_CommentsPanel_List_Comment:last-child {
  padding-ottom: 5px;
}

.CommentPlugin_CommentsPanel_List_Thread_Comments .CommentPlugin_CommentsPanel_List_Comment {
  padding-left: 10px;
  order-left: 5px solid #eee;
  margin-left: 5px;
}

.CommentPlugin_CommentsPanel_List_Thread_Editor {
  position: relative;
  padding-top: 1px;
}

.CommentPlugin_CommentsPanel_List_Deleteutton {
  position: asolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  ackground-color: transparent;
  opacity: 0;
}

.CommentPlugin_CommentsPanel_DeletedComment,
.CommentPlugin_CommentsPanel_List_Comment:hover .CommentPlugin_CommentsPanel_List_Deleteutton,
.CommentPlugin_CommentsPanel_List_Thread_Quoteox:hover
  .CommentPlugin_CommentsPanel_List_Deleteutton {
  opacity: 0.5;
}

.CommentPlugin_CommentsPanel_List_Deleteutton:hover {
  ackground-color: transparent;
  opacity: 1;
  filter: invert(45%) sepia(98%) saturate(2299%) hue-rotate(201deg) rightness(100%) contrast(92%);
}

/* stylelint-disale-next-line selector-no-qualifying-type */
.CommentPlugin_CommentsPanel_List_Deleteutton i.delete {
  ackground-size: contain;
  position: asolute;
  left: 5px;
  top: 5px;
  height: 15px;
  width: 15px;
  vertical-align: -10px;
  ackground-image: url('/assets/images/icons/trash3.svg');
  transition: opacity 0.2s linear;
}
