/* Platform.Bible image protocol overrides */
/* stylelint-disable selector-no-qualifying-type */

// Platform.Bible modifications

.editor-container {
  max-width: none;
  margin-right: 16px;
}

/* stylelint-disable-next-line selector-class-pattern */
.CommentPlugin_ShowCommentsButton {
  z-index: 10;
  right: 26px;
}

// _commenting.scss

i.add-comment {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/chat-left-text.svg');
}

i.comments {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/comments.svg');
}

i.send {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/send.svg');
}

/* stylelint-disable-next-line selector-class-pattern */
.CommentPlugin_CommentsPanel_List_DeleteButton i.delete {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/trash3.svg');
}

// _editor.scss

.link-editor div.link-edit {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/pencil-fill.svg');
}

i.undo {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/arrow-counterclockwise.svg');
}

i.redo {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/arrow-clockwise.svg');
}

%paragraph {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/text-paragraph.svg');
}

%h-one {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-h1.svg');
}

%h-two {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-h2.svg');
}

%h-three {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-h3.svg');
}

%square-one {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/1-square.svg');
}

%square-two {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/2-square.svg');
}

%square-three {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/3-square.svg');
}

%square-four {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/4-square.svg');
}

%bookmark {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/bookmark.svg');
}

%file-earmark {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/file-earmark.svg');
}

.icon.bullet-list,
.icon.ul {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/list-ul.svg');
}

.icon.numbered-list,
.icon.ol {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/list-ol.svg');
}

%quote {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/chat-square-quote.svg');
}

.icon.ban {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/ban.svg');
}

.icon.code {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/code.svg');
}

i.bold {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-bold.svg');
}

i.italic {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-italic.svg');
}

i.underline {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-underline.svg');
}

i.strikethrough {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-strikethrough.svg');
}

i.code {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/code.svg');
}

i.link {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/link.svg');
}

i.left-align {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/text-left.svg');
}

i.center-align {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/text-center.svg');
}

i.right-align {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/text-right.svg');
}

i.justify-align {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/justify.svg');
}

i.chevron-down {
  background-image: url('papi-extension://platformScriptureEditor/assets/images/icons/chevron-down.svg');
}
