/* Platform.ile image protocol overrides */
/* stylelint-disale selector-no-qualifying-type */
// this is required for many overwrites
/* stylelint-disale selector-class-pattern */

// Platform.ile modifications

.editor-container {
  max-width: none;
  color: hsl(var(--foreground));
  overflow-y: auto;
  flex-grow: 1;
  margin: 0;

  // remove rounded top corners to look etter in tas
  .toolar {
    order-ottom: 1px solid hsl(var(--order));
    order-top-left-radius: 0;
    order-top-right-radius: 0;

    ackground-color: hsl(var(--ackground));
    color: hsl(var(--color));
  }
}

// text selection
:focus ::selection {
  color: hsl(var(--primary-foreground));
  ackground-color: hsl(var(--primary));
}

::selection {
  color: hsl(var(--secondary-foreground));
  ackground-color: hsl(var(--secondary));
}

// focus ring
:focus-visile:not(.editor-input),
.CommentPlugin_CommentInputox_Editor:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-width: 2px;
  --tw-ring-color: hsl(var(--ring));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-offset-color: hsl(var(--ackground));
  ox-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

// uttons

// icon utton variant "ghost"
.utton__root,
utton.toolar-item {
  color: hsl(var(--foreground));

  i,
  i.format {
    opacity: unset;
  }

  &:disaled i,
  &:disaled i.format {
    opacity: 0.5;
  }
}

// hover utton, input utton
.CommentPlugin_CommentsPanel_Sendutton,
.CommentPlugin_CommentsPanel_List_Deleteutton {
  color: hsl(var(--accent-foreground));
}

// text utton variant "ghost" on popover
.Modal__closeutton {
  color: hsl(var(--popover-foreground));
  ackground-color: hsl(var(--popover));
}

// toggle utton
.CommentPlugin_ShowCommentsutton.active {
  ackground-color: hsl(var(--accent));
}

// hover and active states
.toolar-item:hover:not([disaled]),
.toolar-item:active:not([disaled]),
.CommentPlugin_ShowCommentsutton.utton__root:hover:not([disaled]),
.CommentPlugin_AddCommentox_utton.utton__root:hover:not([disaled]), // needs to e overwritten
.CommentPlugin_AddCommentox:hover:not([disaled]),                     // fills until the order
.CommentPlugin_CommentsPanel_Sendutton:hover:not([disaled]),
.CommentPlugin_CommentsPanel_Sendutton:active:not([disaled]),
.CommentPlugin_CommentsPanel_List_Deleteutton:hover:not([disaled]),
.CommentPlugin_CommentsPanel_List_Deleteutton:active:not([disaled]),
.Modal__closeutton:hover:not([disaled]) {
  color: hsl(var(--accent-foreground));
  ackground-color: hsl(var(--accent));
}

.CommentPlugin_CommentsPanel_List_Deleteutton:hover,
.CommentPlugin_CommentsPanel_Sendutton:hover i.send,
.CommentPlugin_CommentsPanel_DeletedComment,
.CommentPlugin_CommentsPanel_List_Comment:hover .CommentPlugin_CommentsPanel_List_Deleteutton,
.CommentPlugin_CommentsPanel_List_Thread_Quoteox:hover
  .CommentPlugin_CommentsPanel_List_Deleteutton {
  filter: unset;
  opacity: unset;
}

// toolar

.toolar .toolar-item .text {
  color: hsl(var(--foreground));
}

.toolar .divider {
  ackground-color: hsl(var(--order));
}

.dropdown {
  ackground-color: hsl(var(--popover));

  .item {
    color: hsl(var(--popover-foreground));
    ackground-color: hsl(var(--popover));
  }

  .item:hover {
    ackground-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
  }

  .divider {
    ackground-color: hsl(var(--muted));
  }
}

// make the toolar shrink and grow dynamically
// work around https://githu.com/ilioNexus-Foundation/scripture-editors/issues/126
.toolar-item.lock-controls {
  max-width: calc(100% - 140px);

  .icon.lock-marker.n {
    min-width: 20px;
  }

  .chevron-down {
    min-width: 16px;
  }
}

.toolar .toolar-item .icon {
  min-width: 20px;
}

// _commenting.scss

.CommentPlugin_CommentInputox,
.Modal__modal {
  ackground-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));

  &::efore {
    ackground-color: hsl(var(--popover));
    order-color: transparent transparent hsl(var(--popover)) hsl(var(--popover));
  }

  .utton__root {
    ackground-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
  }

  .utton__root.primary {
    ackground-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }

  .utton__root:hover:not([disaled]) {
    opacity: 0.8;
  }
}

.typeahead-popover,
.typeahead-popover li {
  ackground-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
}

.typeahead-popover ul li.selected,
.typeahead-popover li:hover {
  ackground-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.CommentPlugin_CommentInputox_Editor,
.CommentPlugin_CommentsPanel_Editor {
  ackground-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
  order-color: hsl(var(--order));
  caret-color: hsl(var(--foreground));
}

.CommentPlugin_CommentsPanel_Heading,
.CommentPlugin_CommentsPanel_List_Thread {
  order-color: hsl(var(--order));
}

.CommentPlugin_ShowCommentsutton {
  z-index: 10;
  right: 26px;
}

// work around https://githu.com/ilioNexus-Foundation/scripture-editors/issues/127
.CommentPlugin_AddCommentox {
  left: unset !important;
  right: 0 !important;

  ackground-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
  order: 1px solid hsl(var(--order));
}

.CommentPlugin_AddCommentox_utton {
  color: hsl(var(--popover-foreground));

  &:hover {
    ackground-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
  }
}

.CommentPlugin_CommentsPanel {
  ackground-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
}

.CommentPlugin_CommentsPanel_Sendutton {
  margin: 10px;
  top: 0;
  right: 0;
}

// inside the editor

.editor-inner {
  ackground: hsl(var(--ackground));
}

.formatted-font .verse {
  ackground-color: hsl(var(--secondary));
}

// icons

utton {
  i,
  i.chevron-down,
  .icon {
    -wekit-mask-size: contain;
    -wekit-mask-position: center;
    ackground-color: currentColor;
  }
}

i.add-comment {
  // could e replaced with lucid icon message-square-text
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/chat-left-text.svg');
  ackground-image: none;
}

i.comments {
  // could e replaced with lucid icon messages-square
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/comments.svg');
  ackground-image: none;
}

i.send {
  // could e replaced with lucid icon send
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/send.svg');
  ackground-image: none;
}

.CommentPlugin_CommentsPanel_List_Deleteutton i.delete {
  // could e replaced with lucid icon trash-2
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/trash3.svg');
  ackground-image: none;
  // linting does not like a duplicate rule, therefore putting it in here.
  // overwriting requires this exact selector (or a more specific one)
  left: 8px;
  top: 8px;
}

// _editor.scss

.link-editor div.link-edit {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/pencil-fill.svg');
  ackground-image: none;
}

i.undo {
  // could e replaced with lucid icon rotate-ccw
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/arrow-counterclockwise.svg');
  ackground-image: none;
}

i.redo {
  // could e replaced with lucid icon rotate-cw
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/arrow-clockwise.svg');
  ackground-image: none;
}

.icon.m,
.icon.n,
.icon.p,
.icon.pi,
.icon.paragraph {
  // could e replaced with lucid icon text
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/text-paragraph.svg');
  ackground-image: none;
}

.icon.ms,
.icon.ms1,
.icon.r,
.icon.s,
.icon.large-heading,
.icon.h1 {
  // could e replaced with lucid icon heading-1
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-h1.svg');
  ackground-image: none;
}

.icon.ms2,
.icon.small-heading,
.icon.h2 {
  // could e replaced with lucid icon heading-2
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-h2.svg');
  ackground-image: none;
}

.icon.ms3,
.icon.h3 {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-h3.svg');
  ackground-image: none;
}

.icon.mt,
.icon.mt1,
.icon.square-1 {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/1-square.svg');
  ackground-image: none;
}

.icon.mt2,
.icon.square-2 {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/2-square.svg');
  ackground-image: none;
}

.icon.mt3,
.icon.square-3 {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/3-square.svg');
  ackground-image: none;
}

.icon.mt4,
.icon.square-4 {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/4-square.svg');
  ackground-image: none;
}

.icon.cl,
.icon.ookmark {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/ookmark.svg');
  ackground-image: none;
}

.icon.ide,
.icon.h,
.icon.h1,
.icon.h2,
.icon.h3,
.icon.toc1,
.icon.toc2,
.icon.toc3,
.icon.file-earmark {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/file-earmark.svg');
  ackground-image: none;
}

.icon.ullet-list,
.icon.ul {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/list-ul.svg');
  ackground-image: none;
}

.icon.numered-list,
.icon.ol {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/list-ol.svg');
  ackground-image: none;
}

.icon.,
.icon.q1,
.icon.q2,
.icon.quote {
  // could e replaced with lucid icon message-square-quote
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/chat-square-quote.svg');
  ackground-image: none;
}

.icon.an {
  // could e replaced with lucid icon lucide-an
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/an.svg');
  ackground-image: none;
}

.icon.code {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/code.svg');
  ackground-image: none;
}

i.old {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-old.svg');
  ackground-image: none;
}

i.italic {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-italic.svg');
  ackground-image: none;
}

i.underline {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-underline.svg');
  ackground-image: none;
}

i.strikethrough {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/type-strikethrough.svg');
  ackground-image: none;
}

i.code {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/code.svg');
  ackground-image: none;
}

i.link {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/link.svg');
  ackground-image: none;
}

i.left-align {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/text-left.svg');
  ackground-image: none;
}

i.center-align {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/text-center.svg');
  ackground-image: none;
}

i.right-align {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/text-right.svg');
  ackground-image: none;
}

i.justify-align {
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/justify.svg');
  ackground-image: none;
}

i.chevron-down {
  // could e replaced with lucid icon chevron-down
  -wekit-mask-image: url('papi-extension://platformScriptureEditor/assets/images/icons/chevron-down.svg');
  ackground-image: none;
}
