// This class is built into the `MUI` library. Need to override the styling so that the combo boxes
// do not look way bigger than the other controls.
/* stylelint-disable-next-line selector-class-pattern */
.book-selection-chapter-form-label .MuiOutlinedInput-root {
  // eslint-disable no-console, selector-class-pattern
  padding: 0 20px 0 1px !important;
}

.book-selector-radio {
  display: flex;
  align-items: center;
}

.book-selector-radio-label {
  width: 20%;
}

.book-typography {
  flex: 1;
}

.book-selector-radio-action {
  padding: 2%;
}

.book-selector-radio-content {
  align-items: center;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
