{
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "singleQuote": true,
  "overrides": [
    {
      "files": [".eslintrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
