/* CUSTOM: Added `tw:` prefix */
@import 'tailwindcss' prefix(tw);
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/ibm-plex-sans';

/* CUSTOM: need some config from tailwind.config.ts which can't be inlined in this file */
@config '../tailwind.config.ts';

/* CUSTOM: shared region opener. */
/* #region shared with https://github.com/paranext/paranext-core/blob/main/lib/platform-bible-react/src/index.css */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-heading: var(--font-sans);
  --font-sans: 'IBM Plex Sans Variable', sans-serif;
  /* CUSTOM: allow spacing scale to be overridden by --spacing CSS variable */
  --spacing: calc(var(--spacing));
}

/*
 * CUSTOM: default theme colors changed. Some colors have comments after them explaining their meaning.
 * Added `.light` so this theme can be manually applied to a specific area in the DOM.
 * Context for themes:
 *
 * Theme colors and other CSS variable properties in Platform.Bible. These are applied in CSS
 * properties using `var(--variableName)` or Tailwind classes like `tw:bg-primary`
 *
 * See [shadcn's Theming page](https://ui.shadcn.com/docs/theming#theme-tokens) and the wiki's
 * [Matching Application
 * Theme](https://github.com/paranext/paranext-extension-template/wiki/Extension-Anatomy#matching-application-theme)
 * section for more information
 */
.light,
:root {
  --radius: 0.625rem;
  /* CUSTOM: variable that controls all Tailwind spacing utilities. 0.25rem in tailwind@4.2.2 */
  --spacing: 0.25rem;
  --background: oklch(1 0 0); /* white */
  --foreground: oklch(0.1371 0.036 258.53); /* slate-950 */
  --card: oklch(1 0 0); /* white */
  --card-foreground: oklch(0.1371 0.036 258.53); /* slate-950 */
  --popover: oklch(0.9843 0.0018 248.56); /* popover platform */
  --popover-foreground: oklch(0.1371 0.036 258.53); /* slate-950 */
  --primary: oklch(0.2079 0.0399 265.73); /* slate-900 */
  --primary-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --secondary: oklch(0.9589 0.011 248.06);
  --secondary-foreground: oklch(0.2079 0.0399 265.73); /* slate-900 */
  --muted: oklch(0.9589 0.011 248.06);
  --muted-foreground: oklch(0.5547 0.0408 257.45); /* slate-500 */
  --accent: oklch(0.9589 0.011 248.06);
  --accent-foreground: oklch(0.2079 0.0399 265.73); /* slate-900 */
  --destructive: oklch(0.6369 0.2077 25.32);
  /* CUSTOM: destructive-foreground is not in shadcn/ui anymore */
  --destructive-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --border: oklch(0.929 0.0127 255.58); /* slate-200 */
  --input: oklch(0.929 0.0127 255.58); /* slate-200 */
  --ring: oklch(0.1371 0.036 258.53); /* slate-950 */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.9843 0.0018 248.56); /* popover platform */
  --sidebar-foreground: oklch(0.1371 0.036 258.53); /* slate-950 */
  --sidebar-primary: oklch(0.2079 0.0399 265.73); /* slate-900 */
  --sidebar-primary-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --sidebar-accent: oklch(0.9589 0.011 248.06);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.73); /* slate-900 */
  --sidebar-border: oklch(0.929 0.0127 255.58); /* slate-200 */
  --sidebar-ring: oklch(0.1371 0.036 258.53); /* slate-950 */
}

/* CUSTOM: dark theme colors changed. Some colors have comments after them explaining their meaning. */
.dark {
  --background: oklch(0.1371 0.036 258.53); /* slate-950 */
  --foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --card: oklch(0.1371 0.036 258.53); /* slate-950 */
  --card-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --popover: oklch(0.1371 0.036 258.53); /* slate-950 */
  --popover-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --primary: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --primary-foreground: oklch(0.2079 0.0399 265.73); /* slate-900 */
  --secondary: oklch(0.28 0.037 259.98); /* slate-800 */
  --secondary-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --muted: oklch(0.28 0.037 259.98); /* slate-800 */
  --muted-foreground: oklch(0.7107 0.0351 256.8); /* slate-400 */
  --accent: oklch(0.28 0.037 259.98); /* slate-800 */
  --accent-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --destructive: oklch(0.396 0.1331 25.71);
  /* CUSTOM: destructive-foreground is not in shadcn/ui anymore */
  --destructive-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --border: oklch(0.4454 0.0374 257.3); /* slate-600 */
  --input: oklch(0.4454 0.0374 257.3); /* slate-600 */
  --ring: oklch(0.8688 0.0199 252.89); /* slate-300 */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.1371 0.036 258.53); /* slate-950 */
  --sidebar-foreground: oklch(0.7107 0.0351 256.8); /* slate-400 */
  --sidebar-primary: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --sidebar-primary-foreground: oklch(0.2079 0.0399 265.73); /* slate-900 */
  --sidebar-accent: oklch(0.28 0.037 259.98); /* slate-800 */
  --sidebar-accent-foreground: oklch(0.7107 0.0351 256.8); /* slate-400 */
  --sidebar-border: oklch(0.28 0.037 259.98); /* slate-800 */
  --sidebar-ring: oklch(0.8688 0.0199 252.89); /* slate-300 */
}

/* CUSTOM: new theme not built into shadcn. Applied shadcn preset b6rt8cvlC colors. */
.paratext-light {
  --background: oklch(1 0 0); /* white */
  --foreground: oklch(0.153 0.006 107.1); /* slate-950 */
  --card: oklch(1 0 0); /* white */
  --card-foreground: oklch(0.153 0.006 107.1); /* slate-950 */
  --popover: oklch(1 0 0); /* popover platform */
  --popover-foreground: oklch(0.153 0.006 107.1); /* slate-950 */
  --primary: oklch(0.555 0.163 48.998); /* slate-900 */
  --primary-foreground: oklch(0.987 0.022 95.277); /* slate-50 */
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885); /* slate-900 */
  --muted: oklch(0.966 0.005 106.5);
  --muted-foreground: oklch(0.58 0.031 107.3); /* slate-500 */
  --accent: oklch(0.966 0.005 106.5);
  --accent-foreground: oklch(0.228 0.013 107.4); /* slate-900 */
  --destructive: oklch(0.577 0.245 27.325);
  /* CUSTOM: destructive-foreground is not in shadcn/ui anymore */
  --destructive-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --border: oklch(0.93 0.007 106.5); /* slate-200 */
  --input: oklch(0.93 0.007 106.5); /* slate-200 */
  --ring: oklch(0.737 0.021 106.9); /* slate-950 */
  --chart-1: oklch(0.88 0.011 106.6);
  --chart-2: oklch(0.58 0.031 107.3);
  --chart-3: oklch(0.466 0.025 107.3);
  --chart-4: oklch(0.394 0.023 107.4);
  --chart-5: oklch(0.286 0.016 107.4);
  --sidebar: oklch(0.988 0.003 106.5); /* popover platform */
  --sidebar-foreground: oklch(0.153 0.006 107.1); /* slate-950 */
  --sidebar-primary: oklch(0.666 0.179 58.318); /* slate-900 */
  --sidebar-primary-foreground: oklch(0.987 0.022 95.277); /* slate-50 */
  --sidebar-accent: oklch(0.966 0.005 106.5);
  --sidebar-accent-foreground: oklch(0.228 0.013 107.4); /* slate-900 */
  --sidebar-border: oklch(0.93 0.007 106.5); /* slate-200 */
  --sidebar-ring: oklch(0.737 0.021 106.9); /* slate-950 */
}

/* CUSTOM: new theme not built into shadcn. Applied shadcn preset b6rt8cvlC colors. */
.paratext-dark {
  --background: oklch(0.153 0.006 107.1); /* slate-950 */
  --foreground: oklch(0.988 0.003 106.5); /* slate-50 */
  --card: oklch(0.228 0.013 107.4); /* slate-950 */
  --card-foreground: oklch(0.988 0.003 106.5); /* slate-50 */
  --popover: oklch(0.228 0.013 107.4); /* slate-950 */
  --popover-foreground: oklch(0.988 0.003 106.5); /* slate-50 */
  --primary: oklch(0.473 0.137 46.201); /* slate-50 */
  --primary-foreground: oklch(0.987 0.022 95.277); /* slate-900 */
  --secondary: oklch(0.274 0.006 286.033); /* slate-800 */
  --secondary-foreground: oklch(0.985 0 0); /* slate-50 */
  --muted: oklch(0.286 0.016 107.4); /* slate-800 */
  --muted-foreground: oklch(0.737 0.021 106.9); /* slate-400 */
  --accent: oklch(0.286 0.016 107.4); /* slate-800 */
  --accent-foreground: oklch(0.988 0.003 106.5); /* slate-50 */
  --destructive: oklch(0.704 0.191 22.216);
  /* CUSTOM: destructive-foreground is not in shadcn/ui anymore */
  --destructive-foreground: oklch(0.9838 0.0036 248.23); /* slate-50 */
  --border: oklch(1 0 0 / 10%); /* slate-600 */
  --input: oklch(1 0 0 / 15%); /* slate-600 */
  --ring: oklch(0.58 0.031 107.3); /* slate-300 */
  --chart-1: oklch(0.88 0.011 106.6);
  --chart-2: oklch(0.58 0.031 107.3);
  --chart-3: oklch(0.466 0.025 107.3);
  --chart-4: oklch(0.394 0.023 107.4);
  --chart-5: oklch(0.286 0.016 107.4);
  --sidebar: oklch(0.228 0.013 107.4); /* slate-950 */
  --sidebar-foreground: oklch(0.988 0.003 106.5); /* slate-400 */
  --sidebar-primary: oklch(0.769 0.188 70.08); /* slate-50 */
  --sidebar-primary-foreground: oklch(0.279 0.077 45.635); /* slate-900 */
  --sidebar-accent: oklch(0.286 0.016 107.4); /* slate-800 */
  --sidebar-accent-foreground: oklch(0.988 0.003 106.5); /* slate-400 */
  --sidebar-border: oklch(1 0 0 / 10%); /* slate-800 */
  --sidebar-ring: oklch(0.58 0.031 107.3); /* slate-300 */
}

/* CUSTOM: shared region closer. */
/* #endregion */

/* CUSTOM: shared region opener. */
/* #region shared with https://github.com/paranext/paranext-core/blob/main/lib/platform-bible-react/src/index.css but with the difference of being scoped to .pr-twp in platform-bible-react */

@layer base {
  * {
    @apply tw:border-border tw:outline-ring/50;
  }

  body {
    @apply tw:bg-background tw:text-foreground;
  }

  html {
    @apply tw:font-sans;
  }
}
/* #endregion */
