body {
}
.leadingFloat
{
float:left;
}
.clearFloat {
 clear:both;
}
.align_start
{
text-align:left;
}
.align_center
{
text-align:center;
}
.align_end
{
text-align:right;
}
.usfm {
 font-family: "Open Han Bible SC";
 font-size:16pt;
}
.usfm_id { 
 font-size:100%;
 text-align:left;
}

.usfm_usfm { 
 font-size:100%;
 text-align:left;
}

.usfm_ide { 
 font-size:100%;
 text-align:left;
}

.usfm_h { 
 font-size:100%;
 text-align:left;
}

.usfm_h1 { 
 font-size:100%;
 text-align:left;
}

.usfm_h2 { 
 font-size:100%;
 text-align:left;
}

.usfm_h3 { 
 font-size:100%;
 text-align:left;
}

.usfm_toc1 { 
 font-weight:bold;
 color:#004C00;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_toc2 { 
 color:#004C00;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_toc3 { 
 font-weight:bold;
 color:#E05858;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_toca1 { 
 color:#8C8C8C;
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_toca2 { 
 color:#8C8C8C;
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_toca3 { 
 color:#8C8C8C;
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_rem { 
 color:#003380;
 font-size:100%;
 text-align:left;
}

.usfm_sts { 
 color:#003380;
 font-size:100%;
 text-align:left;
}

.usfm_restore { 
 color:#003380;
 font-size:100%;
 text-align:left;
}

.usfm_imt { 
 font-weight:bold;
 font-size:116%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_imt1 { 
 font-weight:bold;
 font-size:116%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_imt2 { 
 font-size:108%;
 font-style:italic;
 text-align:center;
 margin-bottom:3pt;
 margin-top:6pt;
}

.usfm_imt3 { 
 font-weight:bold;
 font-size:100%;
 text-align:center;
 margin-bottom:2pt;
 margin-top:2pt;
}

.usfm_imt4 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
 margin-bottom:2pt;
 margin-top:2pt;
}

.usfm_imte { 
 font-weight:bold;
 font-size:166%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_imte1 { 
 font-weight:bold;
 font-size:166%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_imte2 { 
 font-size:133%;
 font-style:italic;
 text-align:center;
 margin-bottom:2pt;
}

.usfm_is { 
 font-weight:bold;
 font-size:100%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_is1 { 
 font-weight:bold;
 font-size:100%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_is2 { 
 font-weight:bold;
 font-size:100%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_iot { 
 font-weight:bold;
 font-size:100%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_io { 
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_io1 { 
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_io2 { 
 font-size:100%;
 text-align:left;
 margin-left:15.000vw;
}

.usfm_io3 { 
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_io4 { 
 font-size:100%;
 text-align:left;
 margin-left:25.000vw;
}

.usfm_ior { 
 font-size:100%;
 text-align:left;
}

.usfm_ip { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
}

.usfm_im { 
 font-size:100%;
 text-align:left;
}

.usfm_ipi { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_imi { 
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_ili { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_ili1 { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_ili2 { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:15.000vw;
}

.usfm_ipq { 
 text-indent:2.500vw;
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_imq { 
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_ipr { 
 font-size:100%;
 font-style:italic;
 text-align:right;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_ib { 
 font-size:41%;
 text-align:left;
}

.usfm_iq { 
 text-indent:-15.000vw;
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_iq1 { 
 text-indent:-15.000vw;
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_iq2 { 
 text-indent:-10.000vw;
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_iq3 { 
 text-indent:-5.000vw;
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_iex { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:4pt;
}

.usfm_iqt { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_ie { 
 font-size:41%;
 text-align:left;
}

.usfm_c { 
 font-weight:bold;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_ca { 
 font-weight:bold;
 color:#007306;
 font-size:133%;
 font-style:italic;
 text-align:left;
 margin-bottom:3pt;
 margin-top:7pt;
}

.usfm_cp { 
 font-weight:bold;
 color:#003380;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_cl { 
 font-weight:bold;
 font-size:150%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_cd { 
 font-size:91%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_v { 
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
 white-space:nowrap;
 unicode-bidi: embed;
}

.usfm_va { 
 color:#007306;
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
}

.usfm_vp { 
 color:#003380;
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
}

.usfm_p { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-top:6pt;
}

.usfm_m { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:100%;
 text-align:left;
 margin-top:6pt;
}

.usfm_po { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:4pt;
}

.usfm_pr { 
 font-size:100%;
 text-align:right;
}

.usfm_cls { 
 font-size:100%;
 text-align:right;
}

.usfm_pmo { 
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_pm { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_pmc { 
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_pmr { 
 font-size:100%;
 text-align:right;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_pi { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_pi1 { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_pi2 { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
 margin-right:5.000vw;
}

.usfm_pi3 { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:15.000vw;
 margin-right:5.000vw;
}

.usfm_pc { 
 font-size:100%;
 text-align:center;
}

.usfm_mi { 
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_nb { 
 font-size:100%;
 text-align:left;
}

.usfm_q { 
 text-indent:-15.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_q1 { 
 text-indent:-15.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_q2 { 
 text-indent:-10.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_q3 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_q4 { 
 text-indent:-2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:15.000vw;
}

.usfm_qc { 
 font-size:100%;
 text-align:center;
}

.usfm_qr { 
 font-size:100%;
 text-align:right;
}

.usfm_qs { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_qa { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_qac { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_qm { 
 text-indent:-15.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_qm1 { 
 text-indent:-15.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_qm2 { 
 text-indent:-10.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_qm3 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_qd { 
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-left:5.000vw;
}

.usfm_b { 
 font-size:25%;
 text-align:left;
}

.usfm_mt { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:166%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_mt1 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:166%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:2pt;
}

.usfm_mt2 { 
 font-family: "JhengHei";
 font-size:133%;
 font-style:italic;
 text-align:center;
 margin-bottom:2pt;
}

.usfm_mt3 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:133%;
 text-align:center;
 margin-bottom:2pt;
 margin-top:2pt;
}

.usfm_mt4 { 
 font-family: "JhengHei";
 font-size:100%;
 text-align:center;
 margin-bottom:2pt;
 margin-top:2pt;
}

.usfm_mte { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:166%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_mte1 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:166%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_mte2 { 
 font-family: "JhengHei";
 font-size:133%;
 font-style:italic;
 text-align:center;
 margin-bottom:2pt;
}

.usfm_ms { 
 font-weight:bold;
 font-size:116%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_ms1 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:116%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_ms2 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:116%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_ms3 { 
 font-weight:bold;
 font-size:100%;
 font-style:italic;
 text-align:center;
 margin-left:5.000vw;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_mr { 
 font-family: "JhengHei";
 font-size:100%;
 font-style:italic;
 text-align:center;
 margin-bottom:4pt;
}

.usfm_s { 
 font-weight:bold;
 font-size:100%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_s1 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:100%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_s2 { 
 font-family: "JhengHei";
 font-size:100%;
 font-style:italic;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_s3 { 
 font-family: "JhengHei";
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-bottom:3pt;
 margin-top:6pt;
}

.usfm_s4 { 
 font-family: "JhengHei";
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-bottom:3pt;
 margin-top:6pt;
}

.usfm_sr { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:100%;
 text-align:center;
 margin-bottom:4pt;
}

.usfm_r { 
 font-size:100%;
 font-style:italic;
 text-align:center;
 margin-bottom:4pt;
}

.usfm_sp { 
 font-size:100%;
 font-style:italic;
 text-align:left;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_d { 
 font-size:100%;
 font-style:italic;
 text-align:center;
 margin-bottom:4pt;
 margin-top:4pt;
}

.usfm_sd { 
 text-align:left;
 margin-bottom:24pt;
 margin-top:24pt;
}

.usfm_sd1 { 
 text-align:left;
 margin-bottom:24pt;
 margin-top:24pt;
}

.usfm_sd2 { 
 text-align:left;
 margin-bottom:18pt;
 margin-top:18pt;
}

.usfm_sd3 { 
 text-align:left;
 margin-bottom:12pt;
 margin-top:12pt;
}

.usfm_sd4 { 
 text-align:left;
 margin-bottom:8pt;
 margin-top:8pt;
}

.usfm_tr { 
 text-indent:-5.000vw;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_th1 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th2 { 
 font-weight:bold;
 color:#FFFFFF;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th3 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th4 { 
 font-weight:bold;
 color:#FFFFFF;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th5 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th6 { 
 font-weight:bold;
 color:#FFFFFF;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th7 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th8 { 
 font-weight:bold;
 color:#FFFFFF;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th9 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_th10 { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_th11 { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_th12 { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_tc1 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc2 { 
 font-weight:bold;
 color:#228B22;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc3 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc4 { 
 font-weight:bold;
 color:#228B22;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc5 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc6 { 
 font-weight:bold;
 color:#228B22;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc7 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc8 { 
 font-weight:bold;
 color:#FFFFFF;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc9 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 text-align:left;
}

.usfm_tc10 { 
 font-size:100%;
 text-align:left;
}

.usfm_tc11 { 
 font-size:100%;
 text-align:left;
}

.usfm_tc12 { 
 font-size:100%;
 text-align:left;
}

.usfm_thc1 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc2 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc3 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc4 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc5 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc6 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc7 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc8 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc9 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc10 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc11 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_thc12 { 
 font-size:100%;
 font-style:italic;
 text-align:center;
}

.usfm_tcc1 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc2 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc3 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc4 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc5 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc6 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc7 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc8 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc9 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc10 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc11 { 
 font-size:100%;
 text-align:center;
}

.usfm_tcc12 { 
 font-size:100%;
 text-align:center;
}

.usfm_thr1 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:right;
}

.usfm_thr2 { 
 font-weight:bold;
 color:#228B22;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:right;
}

.usfm_thr3 { 
 font-weight:bold;
 color:#FF0000;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:right;
}

.usfm_thr4 { 
 font-weight:bold;
 color:#228B22;
 font-family: "Courier New";
 font-size:83%;
 font-style:italic;
 text-align:right;
}

.usfm_thr5 { 
 font-size:100%;
 font-style:italic;
 text-align:right;
}

.usfm_thr6 { 
 font-size:100%;
 font-style:italic;
 text-align:right;
}

.usfm_thr7 { 
 font-size:100%;
 font-style:italic;
 text-align:right;
}

.usfm_thr8 { 
 font-size:100%;
 font-style:italic;
 text-align:right;
}

.usfm_thr9 { 
 font-size:100%;
 font-style:italic;
 text-align:right;
}

.usfm_thr10 { 
 font-size:100%;
 font-style:italic;
 text-align:right;
}

.usfm_thr11 { 
 font-size:100%;
 font-style:italic;
 text-align:right;
}

.usfm_thr12 { 
 font-size:100%;
 font-style:italic;
 text-align:right;
}

.usfm_tcr1 { 
 font-weight:bold;
 font-family: "Courier New";
 font-size:83%;
 text-align:right;
}

.usfm_tcr2 { 
 font-weight:bold;
 color:#228B22;
 font-family: "Courier New";
 font-size:83%;
 text-align:right;
}

.usfm_tcr3 { 
 font-weight:bold;
 color:#FF0000;
 font-family: "Courier New";
 font-size:83%;
 text-align:right;
}

.usfm_tcr4 { 
 font-weight:bold;
 color:#228B22;
 font-family: "Courier New";
 font-size:83%;
 text-align:right;
}

.usfm_tcr5 { 
 font-size:100%;
 text-align:right;
}

.usfm_tcr6 { 
 font-size:100%;
 text-align:right;
}

.usfm_tcr7 { 
 font-size:100%;
 text-align:right;
}

.usfm_tcr8 { 
 font-size:100%;
 text-align:right;
}

.usfm_tcr9 { 
 font-size:100%;
 text-align:right;
}

.usfm_tcr10 { 
 font-size:100%;
 text-align:right;
}

.usfm_tcr11 { 
 font-size:100%;
 text-align:right;
}

.usfm_tcr12 { 
 font-size:100%;
 text-align:right;
}

.usfm_lh { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
}

.usfm_li { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_li1 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_li2 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_li3 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:30.000vw;
}

.usfm_li4 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:40.000vw;
}

.usfm_lf { 
 font-size:100%;
 text-align:left;
}

.usfm_lim { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:15.000vw;
 margin-right:5.000vw;
}

.usfm_lim1 { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:15.000vw;
 margin-right:5.000vw;
}

.usfm_lim2 { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_lim3 { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:25.000vw;
}

.usfm_lim4 { 
 text-indent:-7.500vw;
 font-size:100%;
 text-align:left;
 margin-left:30.000vw;
}

.usfm_litl { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_lik { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_liv { 
 font-size:100%;
 text-align:left;
}

.usfm_liv1 { 
 font-size:100%;
 text-align:left;
}

.usfm_liv2 { 
 font-size:100%;
 text-align:left;
}

.usfm_liv3 { 
 font-size:100%;
 text-align:left;
}

.usfm_liv4 { 
 font-size:100%;
 text-align:left;
}

.usfm_liv5 { 
 font-size:100%;
 text-align:left;
}

.usfm_f { 
 font-size:100%;
 text-align:left;
}

.usfm_fe { 
 font-size:100%;
 text-align:left;
}

.usfm_fr { 
 font-weight:bold;
 font-size:100%;
 text-align:left;
}

.usfm_ft { 
 font-size:100%;
 text-align:left;
}

.usfm_fk { 
 font-weight:bold;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_fq { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_fqa { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_fl { 
 font-weight:bold;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_fw { 
 font-size:100%;
 text-align:left;
}

.usfm_fp { 
 font-size:100%;
 text-align:left;
}

.usfm_fv { 
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
}

.usfm_fdc { 
 font-size:100%;
 text-align:left;
}

.usfm_fm { 
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
}

.usfm_x { 
 font-size:100%;
 text-align:left;
}

.usfm_xo { 
 font-weight:bold;
 font-size:100%;
 text-align:left;
}

.usfm_xop { 
 font-size:100%;
 text-align:left;
}

.usfm_xt { 
 font-weight:bold;
 color:#FF0000;
 font-size:100%;
 text-align:left;
}

.usfm_xta { 
 font-size:100%;
 text-align:left;
}

.usfm_xk { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_xq { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_xot { 
 font-size:100%;
 text-align:left;
}

.usfm_xnt { 
 font-size:100%;
 text-align:left;
}

.usfm_xdc { 
 font-size:100%;
 text-align:left;
}

.usfm_rq { 
 font-size:83%;
 font-style:italic;
 text-align:left;
}

.usfm_qt { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_nd { 
 font-weight:bold;
 font-size:100%;
 text-align:left;
 text-decoration:underline;
}

.usfm_tl { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_dc { 
 font-style:italic;
 text-align:left;
}

.usfm_bk { 
 font-weight:bold;
 font-family: "DFKai-SB";
 font-size:100%;
 font-style:italic;
 text-align:left;
 text-decoration:underline;
}

.usfm_sig { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_pn { 
 font-weight:bold;
 font-size:100%;
 text-align:left;
 text-decoration:underline;
}

.usfm_png { 
 font-size:100%;
 text-align:left;
 text-decoration:underline;
}

.usfm_addpn { 
 font-weight:bold;
 font-size:100%;
 font-style:italic;
 text-align:left;
 text-decoration:underline;
}

.usfm_wj { 
 color:#D43128;
 font-size:100%;
 text-align:left;
}

.usfm_k { 
 font-weight:bold;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_sls { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_ord { 
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
}

.usfm_add { 
 font-weight:bold;
 color:#228B22;
 font-style:italic;
 text-align:left;
}

.usfm_lit { 
 font-weight:bold;
 font-size:100%;
 text-align:right;
}

.usfm_no { 
 font-size:100%;
 text-align:left;
}

.usfm_it { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_bd { 
 font-weight:bold;
 font-size:100%;
 text-align:left;
}

.usfm_bdit { 
 font-weight:bold;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_em { 
 font-weight:bold;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_sc { 
 font-size:100%;
 font-variant: small-caps;
 text-align:left;
}

.usfm_sup { 
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
}

.usfm_pb { 
 font-size:100%;
 text-align:left;
}

.usfm_fig { 
 color:#FF00FF;
 font-size:100%;
 text-align:left;
}

.usfm_jmp { 
 color:#FF0000;
 font-family: "DFKai-SB";
 text-align:left;
 text-decoration:underline;
}

.usfm_pro { 
 color:#000080;
 font-size:83%;
 text-align:left;
}

.usfm_rb { 
 text-align:left;
}

.usfm_w { 
 font-family: "DFKai-SB";
 font-size:100%;
 text-align:left;
}

.usfm_wh { 
 font-weight:bold;
 color:#FF00FF;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_wg { 
 font-weight:bold;
 color:#FF00FF;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_wa { 
 font-size:100%;
 text-align:left;
}

.usfm_ndx { 
 font-weight:bold;
 color:#FF00FF;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_periph { 
 font-weight:bold;
 color:#E87217;
 font-size:116%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_p1 { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
}

.usfm_p2 { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:2.500vw;
}

.usfm_k1 { 
 font-size:100%;
 text-align:left;
}

.usfm_k2 { 
 font-size:100%;
 text-align:left;
}

.usfm_xtSee { 
 color:#003380;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_xtSeeAlso { 
 color:#003380;
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_qt-s { 
 text-align:left;
}

.usfm_qt-e { 
 text-align:left;
}

.usfm_qt1-s { 
 text-align:left;
}

.usfm_qt1-e { 
 text-align:left;
}

.usfm_qt2-s { 
 text-align:left;
}

.usfm_qt2-e { 
 text-align:left;
}

.usfm_qt3-s { 
 text-align:left;
}

.usfm_qt3-e { 
 text-align:left;
}

.usfm_qt4-s { 
 text-align:left;
}

.usfm_qt4-e { 
 text-align:left;
}

.usfm_qt5-s { 
 text-align:left;
}

.usfm_qt5-e { 
 text-align:left;
}

.usfm_ts-s { 
 text-align:left;
}

.usfm_ts-e { 
 text-align:left;
}

.usfm_ph { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_ph1 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_ph2 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:15.000vw;
}

.usfm_ph3 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_phi { 
 text-align:left;
 margin-left:20.000vw;
}

.usfm_tr1 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:10.000vw;
}

.usfm_tr2 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:15.000vw;
}

.usfm_ps { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
}

.usfm_psi { 
 text-indent:2.500vw;
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_fs { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_wr { 
 font-size:100%;
 font-style:italic;
 text-align:left;
}

.usfm_pub { 
 font-weight:bold;
 color:#0080FF;
 font-size:41%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_toc { 
 font-weight:bold;
 color:#0080FF;
 font-size:41%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_pref { 
 font-size:41%;
 text-align:left;
}

.usfm_intro { 
 font-size:41%;
 text-align:left;
}

.usfm_conc { 
 font-size:41%;
 text-align:left;
}

.usfm_glo { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_idx { 
 font-weight:bold;
 color:#0080FF;
 font-size:41%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_maps { 
 font-size:41%;
 text-align:left;
}

.usfm_cov { 
 font-size:41%;
 text-align:left;
}

.usfm_spine { 
 font-weight:bold;
 color:#0080FF;
 font-size:41%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_pubinfo { 
 color:#003380;
 font-size:100%;
 text-align:left;
}

.usfm_zpa-xb { 
 font-size:100%;
 text-align:left;
}

.usfm_zpa-xc { 
 font-weight:bold;
 font-size:100%;
 text-align:left;
}

.usfm_zpa-xv { 
 font-size:100%;
 text-align:left;
}

.usfm_zpa-d { 
 font-size:100%;
 text-align:left;
}

.usfm_emver { 
 font-weight:bold;
 font-size:100%;
 text-align:left;
}

.usfm_emw { 
 font-weight:bold;
 font-family: "DFKai-SB";
 font-size:100%;
 text-align:left;
}

.usfm_grk { 
 font-weight:bold;
 color:#228B22;
 font-family: "Greektl";
 text-align:left;
}

.usfm_heb { 
 font-weight:bold;
 color:#037450;
 font-family: "Hebrewtl";
 text-align:left;
}

.usfm_scr { 
 font-weight:bold;
 color:#000080;
 font-family: "JhengHei";
 text-align:left;
}

.usfm_scrpn { 
 font-weight:bold;
 color:#000080;
 font-family: "JhengHei";
 font-size:100%;
 text-align:left;
 text-decoration:underline;
}

.usfm_scradd { 
 font-weight:bold;
 color:#228B22;
 font-family: "JhengHei";
 font-style:italic;
 text-align:left;
}

.usfm_ver { 
 font-weight:bold;
 color:#FF0000;
 text-align:left;
}

.usfm_bib { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_ms4 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:83%;
 font-style:italic;
 text-align:left;
 margin-left:10.000vw;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_ms5 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:83%;
 font-style:italic;
 text-align:left;
 margin-left:15.000vw;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_ms6 { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:83%;
 font-style:italic;
 text-align:left;
 margin-left:20.000vw;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_scv { 
 font-weight:bold;
 font-family: "JhengHei";
 font-size:100%;
 text-align:center;
 margin-bottom:4pt;
 margin-top:8pt;
}

.usfm_oth { 
 font-weight:bold;
 color:#FFFF00;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_cov1 { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_cov2 { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_frt { 
 font-weight:bold;
 color:#FFFF00;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_edit { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_ti1 { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_ti2 { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_helps { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_ill { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_pre { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_abb { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_trl { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_tra { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_bod { 
 font-weight:bold;
 color:#FFFF00;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_back { 
 font-weight:bold;
 color:#FFFF00;
 font-size:150%;
 text-align:left;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_app { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_terms { 
 font-weight:bold;
 color:#0080FF;
 font-size:150%;
 text-align:left;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_scp { 
 font-weight:bold;
 color:#000080;
 font-family: "JhengHei";
 font-size:100%;
 text-align:left;
 margin-left:5.000vw;
 margin-right:5.000vw;
}

.usfm_snd { 
 font-weight:bold;
 color:#000080;
 font-size:100%;
 text-align:left;
}

.usfm_bb { 
 font-size:25%;
 text-align:left;
}

.usfm_na { 
 color:#FF0000;
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
}

.usfm_ms7 { 
 font-weight:bold;
 font-size:83%;
 font-style:italic;
 text-align:left;
 margin-left:25.000vw;
 margin-bottom:2pt;
 margin-top:4pt;
}

.usfm_ms8 { 
 font-weight:bold;
 font-size:116%;
 font-style:italic;
 text-align:center;
 margin-bottom:4pt;
 margin-top:16pt;
}

.usfm_uw { 
 text-align:left;
 text-decoration:underline;
}

.usfm_src { 
 font-weight:bold;
 color:#FF0000;
 text-align:left;
}

.usfm_mod { 
 font-weight:bold;
 color:#000080;
 text-align:left;
}

.usfm_res { 
 font-weight:bold;
 color:#0080FF;
 text-align:left;
}

.usfm_ilink { 
 font-weight:bold;
 color:#0080FF;
 font-style:italic;
 text-align:left;
 text-decoration:underline;
}

.usfm_elink { 
 font-weight:bold;
 color:#0080FF;
 font-style:italic;
 text-align:left;
 text-decoration:underline;
}

.usfm_cul { 
 font-weight:bold;
 color:#FFFF00;
 text-align:left;
}

.usfm_ch { 
 font-weight:bold;
 color:#FF0000;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_ch1 { 
 font-weight:bold;
 color:#FF0000;
 text-align:left;
 margin-left:20.000vw;
}

.usfm_ch2 { 
 font-weight:bold;
 color:#FF00FF;
 text-align:left;
 margin-left:25.000vw;
}

.usfm_ch3 { 
 font-weight:bold;
 color:#404080;
 text-align:left;
 margin-left:30.000vw;
}

.usfm_ch4 { 
 font-weight:bold;
 color:#00FF00;
 text-align:left;
 margin-left:35.000vw;
}

.usfm_ch5 { 
 font-weight:bold;
 color:#0080FF;
 text-align:left;
 margin-left:40.000vw;
}

.usfm_ch6 { 
 font-weight:bold;
 color:#0000FF;
 text-align:left;
 margin-left:45.000vw;
}

.usfm_ch7 { 
 font-weight:bold;
 text-align:left;
 margin-left:50.000vw;
}

.usfm_vv { 
 font-size:100%;
 text-align:left;
 vertical-align: text-top;
 font-size: 66%;
}

.usfm_li5 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:30.000vw;
}

.usfm_li6 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:50.000vw;
}

.usfm_li7 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:60.000vw;
}

.usfm_li8 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:70.000vw;
}

.usfm_li9 { 
 text-indent:-5.000vw;
 font-size:100%;
 text-align:left;
 margin-left:80.000vw;
}


body::before {
    background-image: linear-gradient(to top, rgba(252,252,252,0.4) 0%, rgba(252,252,252,1));
    content: '';
    position: fixed;
    top: 0px;
    width: 100%;
    height: 4px;
}
