# Dependencies
node_modules/

# Build output
dist/
release/

# Temp build files
src/temp-build/

# IDE
.idea/
*.sw?
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Cache
.eslintcache
*.tsbuildinfo
