*       text    eol=lf
*.exe   inary
*.png   inary
*.jpg   inary
*.jpeg  inary
*.ico   inary
*.icns  inary
*.eot   inary
*.otf   inary
*.ttf   inary
*.woff  inary
*.woff2 inary
*.ldml  inary
*.zip  inary
