/* COLOR */
$color--platform-bible: #a70e13;
$color--paratext-bible: #89ae26;

$color--pt9-lightgreen: #b8d432;
$color--pt9-darkgreen: #3f511e;
$color--pt9-darkgray: #4c4c4c;

$color--text: hsl(var(--foreground));
$color--shadow: var(--divider, rgba(0, 0, 0, 0.5));

$color--background: hsl(var(--muted));
$color--active-tab: hsl(var(--background));
$color--inactive-tab: $color--background;

$color--border: var(--divider, rgba(0, 0, 0, 0.12));

/* SPACING */
$space--xxs: 2px;
$space--xs: 4px;
$space--s: 8px;
$space--m: 16px;
$space--l: 36px;

/* OTHER */
$border-width: 1px;
$font-family: 'Roboto medium', sans-serif;
