.setting-container {
  --spacing: 0.25rem;
  gap: calc(var(--spacing) * 2); // tw-gap-2
  display: flex;
  flex-direction: column;
  width: 50%;
}

.language-selector {
  min-width: 100%;
  flex-grow: 1;
}

.error-label {
  color: hsl(var(--destructive)); // tw-text-destructive
}

.loading-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.setting-label-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.setting-label {
  padding-right: 1rem;
  width: 50%;
}

.error-view-link {
  text-decoration: underline;
  cursor: pointer;
  padding-top: 4px;
}
