@use '../../styles/vars';
@use './panel-extra-content.component';

.dock-style-platform-bible {
  --tab-front-blur: hsl(var(--background));
  --tab-front-focus-within: hsl(var(--primary));
  --tab-highlight: hsl(var(--primary) / 0.3);
  --tab-header-to-content-gap: 6px;
}

.dock {
  color: hsl(var(--foreground));
  container-type: size;
}

.dock-tab,
.dock-tabpane {
  --tab-background: transparent; // new color var within
}

// Reset some unwanted text color from rc-dock
.dock-tab:hover,
.dock-tab-active:hover {
  color: unset; // reset rc-dock blue
  --tab-background: var(--tab-highlight);
}

.dock-tab-active,
.dock-tabpane-active {
  --tab-background: var(--tab-front-blur);

  &.platform-dock-tabpane-window-focus {
    --tab-background: hsl(var(--primary));
  }
}

// Users can only see this dropdown menu when there are too many tabs to fit in the tab bar.
.dock-dropdown,
.dock-dropdown-menu,
.dock-dropdown-menu-item {
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
}

.dock-dropdown-menu {
  border: 1px solid hsl(var(--border));
  border-radius: calc(var(--radius) - 2px); // tw-rounded-md
}

.dock-dropdown-menu-item:hover {
  background-color: hsl(var(--accent));
}
// reduce background color when hovering over the close button
.dock-dropdown-menu-item:hover:has(.dock-tab-close-btn:hover) {
  background-color: hsl(var(--accent) / 0.3);
}

.dock-dropdown-menu-item .drag-initiator {
  display: flex;
  align-items: center;
}

// #region GENERAL /////////////////////////////////////////////////////
/* space around app and in between windows */
.dock-divider {
  flex: 0 0 8px;
}

// Reset rc-dock's default scaling of dividers so their grab area matches their visual size. Without this, the dividers are 3x larger—easier to grab, but get in the way of grabbing tab groups.
.dock-hbox > .dock-divider,
.dock-vbox > .dock-divider {
  transform: unset;
}

.dock-layout {
  flex-grow: 1;
  overflow: unset;
}

.dock-layout .dock-panel.dock-style-platform-bible {
  border: unset;
}

/*
 * There is a bug where this placeholder box can't receive float windows. If you close all windows
 * but a float window, you will not be able to dock that float window. Submitted and tracking at
 * https://github.com/ticlo/rc-dock/issues/199
 */
/* Hide the fake placeholder box that shows up if you have nothing but a floating window */
.dock-layout .dock-panel.dock-style-place-holder {
  background: none;
}

/* global dock layout styles */
.dock-layout > .dock-drop-indicator {
  /* darken(#a6c9ff, 40%) = #0055d9 */
  border: solid 1px #0055d9;
  box-shadow: inset 0 0 10px #0055d9;
  background: #a6c9ff;
}
// #endregion ///////////////////////////////////////////////////////////

// #region DOCK-PANEL ///////////////////////////////////////////////////
.dock-panel {
  padding: 6px;
  padding-block-start: 0;
  background-color: #0055d9;
  background-color: hsl(var(--muted));

  //   Copied shadows from Tailwind shadow-sm
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow),
    inset 0 0 10px hsl(var(--border) / 0.1); // Added inset shadow to distinguish dock panel from background
}

.dock-top {
  position: unset; // fixes an overflow bug, but it is not clear why it is needed
  gap: unset; // Make the dock-bar touch the content area
}

.dock.dock-top,
.dock-layout .dock-panel.dock-style-platform-bible {
  // TODO need Tailwind vars to increase radius
  border-radius: var(--radius);
}

// #endregion ///////////////////////////////////////////////////////////

// #region TAB-PANE (CONTENTS) //////////////////////////////////////////
.dock-tabpane {
  padding: vars.$space--xs;
  background-color: var(--tab-background);
  box-sizing: border-box;
  border-radius: var(--radius);
}

.platform-panel,
.web-view {
  border-radius: var(--radius);
}

// #endregion ///////////////////////////////////////////////////////////

// #region TAB-BAR //////////////////////////////////////////////////////
// (TAB-HEADERS-ROW)

.dock-layout .dock-panel.dock-style-platform-bible .dock-bar {
  background: unset;
  padding-inline: vars.$space--xs;
  border: unset;
}

.dock-nav {
  //   Visually reorder children to have the New Tab (+) button immediately after the tabs
  display: flex;

  > .dock-nav-wrap {
    order: 1;
    flex-grow: 0;
  }

  > .dock-extra-content {
    order: 2;
  }

  > .dock-nav-operations {
    order: 3;
    flex-grow: 1;
  }
}

.dock-layout .dock-panel.dock-style-platform-bible .dock-nav-wrap {
  padding-top: unset;
  transform: unset;
  padding-inline: vars.$space--sm;
  flex-wrap: nowrap;
  overflow-x: clip;
}

.dock-layout .dock-panel.dock-style-platform-bible .dock-nav-list {
  position: relative;
  gap: vars.$space--xs;
  padding-block: var(--tab-header-to-content-gap);
  padding-inline: vars.$space--xs;
}

.dock-panel.dock-style-platform-bible .dock-nav-operations,
.dock-panel.dock-style-platform-bible .dock-extra-content {
  gap: vars.$space--sm;
  padding-block: var(--tab-header-to-content-gap);
  height: 30px;
  display: flex;
  align-items: center;
}

.dock-nav-operations {
  height: 100%;

  &.dock-nav-operations-hidden {
    display: none;
  }
}

.dock-nav-more {
  @extend %panel-button-base !optional;
  align-self: unset;
  content: '';

  /* override default style for the shadow indicating that not all tabs are shown */
  &::after {
    box-shadow: unset;
  }
}

/* expand the invisible dock-tab-hit-area a bit to cover the border area above it */
.dock-layout .dock-panel.dock-style-platform-bible .dock-tab-hit-area {
  left: -1px;
  right: -1px;
}

// #endregion TAB-BAR ///////////////////////////////////////////////////

// #region TAB HEADER ///////////////////////////////////////////////////
.dock-layout .dock-panel.dock-style-platform-bible .dock-tab {
  margin-right: unset;
  border: unset;
  height: unset;

  display: flex;
  align-items: center;
  flex: 1 0 auto;
  max-width: max-content;
  background-color: var(--tab-background);
  border-radius: var(--radius);

  transition:
    background-color 0.1s,
    color 0.1s,
    inset-block-end 0.6s;

  &.dock-tab-active {
    // Remove radius on bottom corners of active tab so it connects with content pane
    border-end-start-radius: 0;
    border-end-end-radius: 0;

    background: var(--tab-background);
    color: currentColor;
    border-bottom: unset;
    inset-block-end: calc(
      -1 * var(--tab-header-to-content-gap)
    ); // Move tab up to overlap the tab list
  }

  &.platform-dock-tab-window-focus {
    // TODO these two properties should get the same level of abstraction
    --tab-background: var(--tab-front-focus-within);
    color: hsl(var(--primary-foreground));

    outline: none;

    .dock-tab-btn:focus-visible {
      outline: none; // This outline interferes with concave corner styling if we don't disable it
    }

    .dock-tab-btn:focus-visible::before {
      content: '';
      position: absolute;
      inset: -4px 0 auto;
      width: 100%;
      height: 2px;
      border-radius: var(--radius);
      background-color: hsl(var(--ring));
    }
  }
}

.dock-layout .dock-panel.dock-style-platform-bible .dock-tab .dock-tab-btn {
  padding: unset;
  box-sizing: border-box;
  outline-color: unset; // reset rc-dock blue
}

// .drag-initiator happens to be the parent of the tab title, icon, and close button
.dock-tab .drag-initiator {
  padding-inline: 0.5rem;
  padding-block: vars.$space--xs;
  display: flex;
  flex: auto;
  gap: vars.$space--sm;
}

// #endregion TAB HEADER ///////////////////////////////////////////////////////////

// #region TAB SEPARATOR (DIVIDER) //////////////////////////////////////
.dock-layout .dock-panel.dock-style-platform-bible .dock-tab:not(.dock-tab-active) {
  &::before {
    content: '';
    width: 2.2px;
    height: 100%;
    background-color: hsl(var(--border));
    position: absolute;
    right: 0;
  }

  &:hover::before,
  &:focus-within::before {
    // Hide the separator so it doesn't interfere with hover and focus styles
    background: transparent;
  }
}
// #endregion ///////////////////////////////////////////////////////////

// #region ROUNDED CORNERS //////////////////////////////////////////////

// Bottom outside corner rounding for active tab (fillets)
$tab-bottom-rounding: vars.$space--sm;

.dock-tab::before,
.dock-tab::after {
  content: ' ';
  height: $tab-bottom-rounding;
  width: $tab-bottom-rounding;
  position: absolute;
  transition:
    box-shadow 0 0.6s,
    right 0.6s ease-in 0.3s,
    left 0.6s ease-in 0.3s;
}

.dock-tab.dock-tab-active {
  &::before,
  &::after {
    bottom: -0.2px; // slight overlap to hide hairline gap
    // flare shape
    background-image: radial-gradient(
      circle at 100% 100%,
      transparent $tab-bottom-rounding,
      var(--tab-background) $tab-bottom-rounding
    );
  }

  &::before {
    left: -$tab-bottom-rounding;
    rotate: 180deg;
  }

  &::after {
    right: -$tab-bottom-rounding;
    rotate: 270deg;
  }
}

.dock-tab.dock-tab-active.platform-dock-tab-active-highlight,
.dock-tabpane.dock-tabpane-active.platform-dock-tabpane-active-highlight {
  // This duration must be ≤ "cssHighlightDurationMilliseconds" in platform-tab-title.component.tsx
  animation: pulse-bright 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-bright {
  0% {
    filter: brightness(1) hue-rotate(0deg);
  }

  50% {
    filter: brightness(1.7) hue-rotate(180deg);
  }

  100% {
    filter: brightness(1) hue-rotate(360deg);
  }
}

// #endregion ///////////////////////////////////////////////////////////

// #region CONTROLS /////////////////////////////////////////////////////
/* Close buttons */
.dock-tab-close-btn::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  /* X icon from https://lucide.dev/icons/x TODO: papi-extension://platformIcons/assets/semantic/close.svg once this extension exists */
  mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgtaWNvbiBsdWNpZGUteCI+PHBhdGggZD0iTTE4IDYgNiAxOCIvPjxwYXRoIGQ9Im02IDYgMTIgMTIiLz48L3N2Zz4=');
  mask-size: contain;
  mask-position: center;
  background-color: currentColor;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.dock-panel.dock-style-card .dock-tab-close-btn,
.dock-tab-close-btn {
  color: unset;
  border-radius: vars.$space--lg;
  height: 16px;
  padding: 2px;
  top: 5px;
  right: 5px;
  visibility: hidden;
  position: static;
}

.dock-tab.dock-tab-active .dock-tab-close-btn,
.dock-tab:hover .dock-tab-close-btn {
  visibility: visible;
}

.dock-tab .dock-tab-close-btn:hover,
.dock-tab .dock-tab-close-btn:focus,
.dock-dropdown-menu-item .dock-tab-close-btn:hover {
  color: hsl(var(--accent-foreground));
  background-color: hsl(var(--accent));
  transform: none;
}

.dock-dropdown-menu-item .dock-tab-close-btn {
  visibility: hidden;
}

.dock-dropdown-menu-item:hover .dock-tab-close-btn {
  visibility: visible;
}
