@import '../../../shared/styles';

$docking-grid-space: 3px;

.dock-divider {
  flex: 0 0 $docking-grid-space;
}

.dock-layout {
  flex-grow: 1;
  margin: $docking-grid-space;
}

.dock-layout .dock-panel.dock-style-platform-bible {
  border: 0;
}

/*
 * There is a bug where this placeholder box can't receive float windows. If you close all windows
 * but a float window, you will not be able to dock that float window. Submitted and tracking at
 * https://github.com/ticlo/rc-dock/issues/199
 */
/* Hide the fake placeholder box that shows up if you have nothing but a floating window */
.dock-layout .dock-panel.dock-style-place-holder {
  background: none;
}

.dock-layout .dock-panel.dock-style-place-holder .dock-content-holder {
  border: 0;
}

.dock-layout .dock-panel.dock-style-platform-bible .dock-tab {
  margin-right: 0;
  border: $border;
  border-top: 0;
  background: $color--inactive-tab;
  color: $color--text;
  flex: 1 0 auto;
}

/*
 * Close buttons
 */
.dock-layout .dock-panel.dock-style-platform-bible .dock-tab > div {
  padding-left: $space--s;
  padding-right: calc($space--m + $space--xs + $space--xs / 2);
}

.dock-panel.dock-style-card .dock-tab-close-btn {
  right: $space--xs;
}

.dock-dropdown-menu-item .dock-tab-close-btn {
  right: $space--xs;
  top: $space--xs;
}

.dock-dropdown-menu-item .title {
  padding-right: calc($space--s + $space--xs);
}

/*
 * Show borders on the sides of the dock-nav, not on the very edges of the dock-tabs,
 * so the borders show even when the tabs don't fit in the space and you have to scroll
 */
.dock-layout .dock-panel.dock-style-platform-bible .dock-tab:first-child {
  border-left: 0;
}

.dock-layout .dock-panel.dock-style-platform-bible .dock-tab.dock-tab-active {
  background: $color--active-tab;
  color: $color--text;
  border-bottom: 0;
  box-shadow: 0 0 8px 2px $color--text-dimmed;
  z-index: 1; // fix tab to show over the right next ribbon as well
}

/* Curved corners including on floating window */
.dock-layout .dock-panel.dock-style-platform-bible,
.dock-layout .dock-panel.dock-style-platform-bible .dock-bar,
.dock-layout .dock-panel.dock-style-platform-bible .dock-nav,
.dock-layout .dock-panel.dock-style-platform-bible .dock-nav-wrap,
.dock-layout .dock-panel.dock-style-platform-bible .dock-tab {
  border-radius: 0;
}

.dock-layout .dock-panel.dock-style-platform-bible .dock-bar {
  background: $color--inactive-tab;
  padding: 0;
  border: 0;
}

.dock-layout .dock-panel.dock-style-platform-bible .dock-tab-hit-area {
  /* expand the invisible dock-tab-hit-area a bit to cover the border area above it */
  left: -1px;
  right: -1px;
}

.dock-layout .dock-panel.dock-style-platform-bible .dock-nav-wrap {
  /*
   * Remove the handle bar at the top of each dock-tab. Note: Now, the tab
   * group can only be grabbed by grabbing the intersection between two tabs
   */
  padding-top: 0;
  /*
   * For some reason, by default, the tabs are moved down one pixel. That
   * makes them blurry, so this removes that transform
   */
  transform: none;
}

/* tabs take all the space */
.dock-layout .dock-panel.dock-style-platform-bible .dock-nav-list {
  flex-grow: 1;
}

/* global dock layout styles */
.dock-layout > .dock-drop-indicator {
  /* darken(#a6c9ff, 40%) = #0055d9 */
  border: solid 1px #0055d9;
  box-shadow: inset 0 0 10px #0055d9;
  background: #a6c9ff;
}

.dock-panel.dock-style-card .dock-extra-content {
  height: 30px;
}

.dock-panel-max-btn::before,
.dock-panel-min-btn::before {
  border: 2px solid $color--text-dimmed;
}

.dock-panel-min-btn::before {
  border: 2px solid $color--text-dimmed;
}
