.title {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.tab-menu-button {
  margin: 0;
  margin-right: 5px;
  padding: 0;
  border: 0;
  background: transparent;
  background-image: url('/assets/icon.png');
  background-size: 100%;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.tooltip {
  white-space: pre-wrap;
}
