@use '../../styles/vars';

.title {
  display: flex;
  align-items: center;
}

.tab-menu-icon {
  margin: 0;
  margin-right: vars.$space--xs;
  padding: 0;
  border: 0;
  background: transparent;
  background-image: url('/assets/icon.png');
  background-size: 100%;
  width: vars.$space--m;
  height: vars.$space--m;
  vertical-align: middle;
}

.tooltip {
  white-space: pre-wrap;
}
