.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button.primary.enabled {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button.disabled {
  color: darkslategray;
  background-color: gray;
}
.storybook-button.secondary.enabled {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button.paratext {
  background-color: darkgreen;
  color: greenyellow;
}
