.settings-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.settings-search-bar {
  padding: 2%;
  display: block;
  box-sizing: border-box;
}

.settings-tabs-and-content {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.settings-tabs {
  width: 20%;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.settings-tab-panel {
  width: 80%;
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}
