// This class is built into the `MUI` library. Need to override the styling so that the combo boxes
// do not look way bigger than the other controls.
/* stylelint-disable-next-line selector-class-pattern */
.book-selection-chapter-form-label .MuiOutlinedInput-root {
  // eslint-disable no-console, selector-class-pattern
  padding: 0 20px 0 1px !important;
}

.book-selection-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-selection-margin-left {
  margin-left: 4px;
}

.book-selection-margin-right {
  margin-right: 4px;
}

.book-selection-radio-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.book-selection-radio-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
