.run-basic-checks-dialog {
  padding: 5% 5% 0;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

// Places checkboxes in their given order, but does not shrink to one column when window is only wide enough for one
.run-basic-checks-check-names {
  columns: 2;
  column-fill: balance;
  height: 50%;
  width: 100%;
  overflow-y: auto;
}

.run-basic-checks-books {
  width: 100%;
}

.basic-checks-dialog-actions {
  display: flex;
  justify-content: end;
  position: sticky;
  bottom: 0;
  background: white;
  width: 100%;
}
