.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  text-align: center;
}

.about-panel {
  width: 100%;
  height: 100%;
  background: #0a403a;
  overflow-y: auto;
  color: hsl(var(--foreground));
}

.about-panel .test-panel {
  color: white;
}
