.select-books-dialog {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.select-books-dialog-submit-button {
  margin-left: auto;
}

.book-list {
  columns: 2;
  column-fill: balance;
  overflow-y: auto;
}
