<ScriptureText>
  <StyleSheet>usfm.sty</StyleSheet>
  <Language>English</Language>
  <MinParatextVersion>8.0.100.76</MinParatextVersion>
  <FullName>World English Bible USA without Strong's numbers</FullName>
  <Encoding>65001</Encoding>
  <Editable>F</Editable>
  <Copyright>&lt;p&gt;PUBLIC DOMAIN (not copyrighted)&lt;/p&gt;</Copyright>
  <NormalizationForm>NFC</NormalizationForm>
  <Name>engWEBUS</Name>
  <Guid>32664dc3288a28df2e2bb75ded887fc8f17a15fb</Guid>
  <DefaultFont>Charis SIL</DefaultFont>
  <DefaultFontSize>12</DefaultFontSize>
  <FontFeatures />
  <HtmlLanguage />
  <LanguageIsoCode>en:::</LanguageIsoCode>
  <AssociatedLexicalProject />
  <FileNameBookNameForm>41MAT</FileNameBookNameForm>
  <FileNamePrePart />
  <FileNamePostPart>engWEBUS.SFM</FileNamePostPart>
  <BiblicalTermsListSetting>Major::BiblicalTerms.xml</BiblicalTermsListSetting>
  <MatchBasedOnStems>F</MatchBasedOnStems>
  <AllowReadAccess>F</AllowReadAccess>
  <AllowSharingWithSLDR>F</AllowSharingWithSLDR>
  <Visibility>Public</Visibility>
  <TranslationInfo>Standard::</TranslationInfo>
  <EncodingConverter />
  <UsfmVersion>3</UsfmVersion>
  <ParallelPassagesBooks>000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</ParallelPassagesBooks>
  <InitialImportBooksDirectory>Z:\tmp\engwebus</InitialImportBooksDirectory>
  <BooksPresent>111111111111111111111111111111111111111111111111111111111111111111111111000011111111000000000000000100000000100100000000000</BooksPresent>
  <Versification>4</Versification>
  <ParatextRegistryId>NwBB96u5nggee63xW</ParatextRegistryId>
  <SegmentOrder>a b c d e f g h i j k l m n o p q r s t u v w x y z aa bb cc dd ee ff gg hh ii jj kk ll mm nn oo pp qq rr ss tt uu vv ww xx yy zz</SegmentOrder>
  <CharacterAdvancedView>True</CharacterAdvancedView>
  <ValidCharacters>  
 
 a A b B c C d D e E f F g G h H i I j J k K l L m M n N o O p P q Q r R s S t T u U v V w W x X y Y z Z ’ ' - ? ‌ ‍ χ צִ צִ֛ ת έ β ἄ θ ῦ ά ἐ ῥ Μ ῆ ᾳ + ί – ω ς ι τ ρ ½ υ σ &amp; × π % κ λ = γ α [ ] ε η ἰ ὺ μ δ ν הִ נֵּ ה ο ם לֹ אֱ הִ֑ י / ) ( — 7 8 9 6 4 5 0 3 2 ! ‘ 1 : ; ” “ . ,</ValidCharacters>
  <InvalidCharacters />
  <AdvancedView>False</AdvancedView>
  <Quotes>“ ”</Quotes>
  <InnerQuotes>‘ ’</InnerQuotes>
  <InnerInnerQuotes>“ ”</InnerInnerQuotes>
  <Continuer>“</Continuer>
  <ContinueQuotes>Yes</ContinueQuotes>
  <InnerContinuer>‘</InnerContinuer>
  <ContinueInnerQuotes>Yes</ContinueInnerQuotes>
  <InnerInnerContinuer>“</InnerInnerContinuer>
  <VerboseQuotes>No</VerboseQuotes>
  <QuoteClosesAllQuoteLevels>No</QuoteClosesAllQuoteLevels>
  <ContinueAt>p p/q1 b/q1</ContinueAt>
  <ValidPunctuation>' - ? ‌ ‍ ) -_ “ – : _+_ × / _— _&amp;_ %_ ..._ ... _=_ _—_ ]_ _[ ; ! ” —_ , — )_ _( . :_ !_ _‘ ?_ ;_ ”_ _“ ._ ,_</ValidPunctuation>
  <InvalidPunctuation>_,_</InvalidPunctuation>
  <ChapterVerseSeparator>:</ChapterVerseSeparator>
  <ReferenceFinalPunctuation />
  <BookSourceForMarkerXt>Abbreviation</BookSourceForMarkerXt>
  <BookSourceForMarkerR>ShortName</BookSourceForMarkerR>
  <OriginRangeOption>MatchVerseExactly</OriginRangeOption>
  <CrossReferenceSettingsHaveBeenReviewed>T</CrossReferenceSettingsHaveBeenReviewed>
  <RefsMustMatchVerseSegments>False</RefsMustMatchVerseSegments>
  <SegmentsMustHaveFinalPunctuation>False</SegmentsMustHaveFinalPunctuation>
  <NoSpaceBetweenBookAndChapter>False</NoSpaceBetweenBookAndChapter>
  <RangeIndicator>-</RangeIndicator>
  <SequenceIndicator>,</SequenceIndicator>
  <ChapterRangeSeparator>—</ChapterRangeSeparator>
  <BookSequenceSeparator>; </BookSequenceSeparator>
  <ChapterNumberSeparator>; </ChapterNumberSeparator>
  <ReferenceExtraMaterial> LXX|See </ReferenceExtraMaterial>
  <GBCId>62fd8c641f17fd3e9fafb4ad</GBCId>
  <GBCSummary>English(eng), World English Bible, American English Edition, without Strong's numbers, United States of America, Bible with Deuterocanon, 2022-06-01, Completed, engWEBUS, dbl: matches</GBCSummary>
  <DateArchived>2023-04-26T04:50:43.132462</DateArchived>
  <Naming PrePart="" PostPart="engWEBUS.SFM" BookNameForm="41MAT" />
</ScriptureText>