.papi-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  background-color: #1ea7fd;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.papi-button.paratext {
  background-color: darkgreen;
  color: greenyellow;
}
.papi-button.paratext.bright {
  background-color: greenyellow;
  color: darkgreen;
}
.papi-button.video {
  background-color: red;
  color: white;
}
.papi-button.video a,
.papi-button.video a:visited {
  text-decoration: none;
  color: white;
}
.papi-button.video a:hover {
  text-decoration: underline;
  color: white;
}
