.papi-slider {
  color: #1ea7fd;
  background-color: transparent;
}

.papi-slider.vertical {
  min-height: 200px;
}
.papi-slider.paratext {
  color: greenyellow;
  background-color: darkgreen;
}
.papi-slider.paratext.bright {
  color: darkgreen;
  background-color: greenyellow;
}
