.papi-switch {
  background-color: transparent;
}

.papi-switch.primary {
  background-color: #1ea7fd;
}
.papi-switch.secondary {
  background-color: #6fc8ff;
}
.papi-switch.error {
  background-color: #ff0000;
}
.papi-switch.paratext {
  color: greenyellow;
  background-color: darkgreen;
}
.papi-switch.paratext.bright {
  color: darkgreen;
  background-color: greenyellow;
}
