/* These rules don't do anything */

.papi-textfield {
  border-radius: 30px;
  color: green;
}

.papi-textfield.error {
  color: red;
}
.papi-textfield.paratext {
  color: greenyellow;
  background-color: darkgreen;
}
.papi-textfield.paratext.bright {
  color: darkgreen;
  background-color: greenyellow;
}
