[contenteditable]:focus {
  outline: 0px solid transparent;
}

button {
  padding: 5px 10px;
  background-color: #505070;
  color: white;
  border-radius: 5px;
  font-size: 11pt;
}

button:enabled {
  cursor: pointer;
}

button:hover:enabled {
  transform: scale(1.05);
  opacity: 1;
}

.scr-toolbar {
  padding: 7px;
  background-color: #1c1c2a;
}

.scr-toolbar .selector-area,
.scr-toolbar .input-area {
  color: white;
  display: inline-block;
  vertical-align: middle;
}

.scr-toolbar .selector-area span {
  margin: 0px 5px;
  display: inline-block;
  width: 3ch;
  text-align: right;
}

.scr-toolbar .selector-area span.book {
  width: 10ch;
}

.scr-toolbar .selector-area span.chapter {
  width: 4ch;
}

.scr-toolbar .selector-area .change-btns {
  width: auto;
  margin: 0px;
}

.scr-toolbar .selector-area .change-btn {
  padding: 2px 1px;
  border-right: 1px solid #505070;
  border-top: 1px solid #505070;
  border-bottom: 1px solid #505070;
  border-radius: 0px 5px 5px 0px;
  background-color: #505070;
  color: #1c1c2a;
  box-sizing: border-box;
  font-size: 11pt;
}

.scr-toolbar .selector-area .change-btn.left {
  border-radius: 5px 0px 0px 5px;
  border-left: 1px solid #505070;
  border-right: 0px;
}

.scr-toolbar .selector-area .splitter {
  margin: 0px;
  width: 1px;
  box-sizing: border-box;
  width: auto;
}

.scr-toolbar .selector-area .splitter.changed {
  border-right: 1px solid #505070;
  display: inline;
}

.scr-toolbar input {
  width: 120px;
  margin: 4px;
  padding: 4px;
  border-radius: 5px;
  transition: all ease-in 0.1s;
}

.scr-toolbar input:focus,
.scr-toolbar input:hover,
.scr-toolbar input.changed {
  background-color: #505070;
  color: white;
}

.scr-toolbar input:focus {
  outline: 1px solid white;
}

.scr-toolbar input,
button:disabled,
.scr-toolbar .selector-area .change-btn:disabled {
  background-color: #1c1c2a;
  color: #505070;
}

.scr-toolbar input,
button:disabled {
  border: 1px solid #505070;
}

.scr-toolbar .selector-area .change-btn:hover:enabled,
button:hover:enabled {
  background-color: #8a8aac;
  color: white;
}

.tab-header {
  display: flex;
  padding: 0px 8px;
  align-items: center;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.tab-header .pt-logo {
  width: 16px;
  margin: 0px 4px 0px 4px;
}

.tab-header .default-wrapper {
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0px;
}

/* Override dockview's tab padding so we can add our own at a higher level */
.tab-header .default-wrapper .dockview-react-tab {
  padding: 0px;
}

.tab-header .default-wrapper .dockview-react-tab .dockview-react-tab-title {
  padding-left: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab.inactive-tab:not(:hover) .tab-header .default-wrapper .dockview-react-tab-action {
  display: none;
}
