.extension-card-wide {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.extension-card-square {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 300px;
  width: 100%;
}

// .card-action-wide {

// }

.card-action-square {
  justify-content: space-between;
}

.extension-card-description {
  flex-grow: 1;
  // Only set important here because MUI forces padding on each Card element
  // Didn't need all the padding at the top to match UX mockup, intended to change later
  padding-top: 0 !important;
}
