@use 'styles/vars';

/* #region Styles from `platform-bible-react`'s `README.md` to apply its styles to the whole page */

* {
  border-color: hsl(var(--border));
  outline-color: hsl(var(--ring) / 0.5);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* #endregion */

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/*
 * The `body` selector above come from a specific place and should be preserved independent of this
 * selector, so disabling this rule here
 */
/* stylelint-disable-next-line no-duplicate-selectors */
body {
  position: relative;
  height: 100vh;
  font-family: vars.$font-family;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

.test-panel > div {
  text-align: center;
}

.test-panel {
  margin: 0.5em;
  overflow-y: auto;
  white-space: pre-wrap;
}
