@import 'styles/vars';

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: $color--background;
  font-family: $font-family;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* hide default box shadow of AppBar */
/* stylelint-disable-next-line selector-class-pattern */
.MuiPaper-root.MuiAppBar-root {
  box-shadow: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.about-panel {
  width: 100%;
  height: 100%;
  background: #0a403a;
  overflow-y: auto;
  color: hsl(var(--foreground));
}

.about-panel .test-panel {
  color: white;
}

.test-panel > div {
  text-align: center;
}

.test-panel {
  margin: 0.5em;
  overflow-y: auto;
  white-space: pre-wrap;
}
