@import 'styles/vars';

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: $color--background;
  font-family: $font-family;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* hide default box shadow of AppBar */
/* stylelint-disable-next-line selector-class-pattern */
.MuiPaper-root.MuiAppBar-root {
  box-shadow: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.about-panel {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    200.96deg,
    $color--pt9-lightgreen -10%,
    $color--pt9-darkgreen 60%,
    $color--pt9-darkgray 110%
  );
  overflow-y: auto;
}

.about-panel .hello {
  color: white;
}

.hello > div {
  text-align: center;
}

.test-panel {
  margin: 0.5em;
  overflow-y: auto;
  white-space: pre-wrap;
}
